asgiref==3.11.1
Django==6.0.5
django-allauth==65.16.1
djangorestframework==3.17.1
gunicorn==26.0.0
h3==4.4.2
packaging==26.2
psycopg==3.3.4
psycopg-binary==3.3.4
python-dotenv==1.2.2
sqlparse==0.5.5
typing_extensions==4.15.0
